* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
  display: none !important;
}
.gm-bundled-control .gmnoprint {
  display: block;
}
.gmnoprint:not(.gm-bundled-control) {
  display: none;
}
